:root {
  --orange-color: #ff6b00;
  --orange-color-click: #ff2a00;
  --dark-background: #1c1a19;
  --grey-transparent: rgba(255, 255, 255, 0.24);
  --grey-neutral: #8993a4;
  --crete-round: 'Crete Round', serif;
  --roboto: "Roboto", sans-serif;
  --debug-border: 1px solid red;
}

body {
  margin: 0;
}

.link-styler {
  background: var(--orange-color);
  padding: 12px 18px;
  text-decoration: none;
  color: white;
  font-family: var(--roboto);
  font-weight: 600;
  font-size: 16px;
}

.icon {
  filter: brightness(0) invert();
}

.icon-dark {
  filter: brightness(0.8) invert();
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40px;
  background: #3c3a39;
  z-index: 10;
}

.nav-bar > * {
  color: white;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

.nav-bar-logo {
  font-family: var(--roboto);
}

.headline {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--dark-background);
  background-image: url("rsc/images/Illustration-header.png");
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 48vw 250px;
}

.headline-background-img {
  position: absolute;
  transform: translate(225px, 150px);
  z-index: 0;
}

.headline h1 {
  margin-top: 120px;
}

.headline > * {
  margin: 0 0 10px 20px;
  width: 300px;
  z-index: 1;
}

.headertext {
  color: var(--orange-color);
  font-size: 52px;
  font-family: var(--crete-round);
  font-weight: 400;
}

.headline-secondarytext {
  color: white;
  font-size: 24px;
  font-family: var(--roboto);
}

.paragraphtext {
  color: white;
  font-size: 16px;
  font-family: var(--roboto);
  font-weight: 200;
  line-height: 24px;
}

.headline-icons {
  list-style: none;
}

.headline-icon.first {
  margin-left: -45px;
}

.headline-icon {
  display: inline;
  margin-right: 5px;
}

.section-label {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.95fr;
  padding-top: 100px;
}

.section-label h1 {
  font-family: var(--crete-round);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}

.section-label hr {
  width: 100%;
  border: none;
  border-top: 2px solid black;
}

.works-section {
  width: 100vw;
  height: auto;
  padding-bottom: 150px;
  display: grid;
  justify-content: center;
  grid-template-columns: 327px;
  gap: 50px;
}

.main-project {
  display: flex;
  flex-direction: column;
}

.main-project-image {
  width: 327px;
}

.main-project h2 {
  font-family: var(--crete-round);
  font-weight: 400;
  font-size: 32px;
}

.main-project p {
  margin-top: -20px;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 16px;
}

.main-project ul {
  list-style: none;
}

.main-project-first-technology {
  margin-left: -40px;
}

.main-project li {
  display: inline;
  margin-right: 5px;
  padding: 8px 12px;
  border: 1px solid var(--grey-neutral);
  font-family: var(--roboto);
  font-weight: 500;
}

.main-project button {
  background: var(--orange-color);
  border: none;
  padding: 10px 12px;
  font-family: var(--roboto);
  font-weight: 600;
  font-size: 17px;
  color: white;
}

.project-card-template {
  height: 386px;
  background-image: url("./rsc/images/Img-Placeholder_03.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-card-template-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10px 0 10px;
}

.project-card-template-info h2 {
  width: 240px;
  color: white;
  font-family: var(--crete-round);
  font-weight: 400;
  font-size: 32px;
  margin-top: -10px;
}

.project-card-template-info p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--roboto);
  margin-top: -15px;
}

.project-card-template-technologies {
  list-style: none;
  margin: 0 0 -60px 0;
}

.first-technology {
  margin-left: -40px;
}

.card-technology {
  display: inline;
  margin-right: 5px;
  color: white;
  font-family: var(--roboto);
  background: var(--grey-transparent);
  padding: 10px 12px;
}

.see-project-container-card-template {
  margin-top: -25px;
  height: 52px;
  display: flex;
  justify-content: center;
  justify-items: stretch;
}

.see-project-card-template {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--orange-color);
  color: white;
  font-family: var(--roboto);
  font-weight: 600;
  font-size: 17px;
}

.see-project-card-template:hover {
  cursor: pointer;
}

.see-project-card-template:focus {
  background: var(--orange-color-click);
}

.about-me-section {
  background: var(--dark-background);
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 0.8fr;
  justify-content: center;
  background-image: url("./rsc/images/illustration-about.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 62vw 400px;
}

.about-me-section h1 {
  padding-top: 120px;
}

.about-me-section p {
  margin-top: -30px;
}

.about-me-section div {
  margin-top: 20px;
}

.about-me-section hr {
  margin-top: 230px;
  width: 90vw;
  border: none;
  border-top: 2px solid white;
}

.technologies-about-me {
  padding-top: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.8fr;
}

.parent-list-about-me {
  gap: 10px;
}

.parent-list-item-about-me {
  margin: 20px 0 20px 0;
}

.technologies-about-me ul {
  text-align: center;
  list-style: none;
  color: white;
  margin-left: -10%;
  font-family: var(--roboto);
  font-weight: 200;
  font-size: 22px;
  line-height: 64px;
}

.first-technology-about-me {
  margin-left: -18%;
  font-weight: 700;
  font-size: 32px;
  line-height: 80px;
}

.first-technology-about-me img {
  padding: 0 12px;
}

.footer h2 {
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 32px;
  width: 327px;
  text-align: center;
}

.contact-form {
  display: grid;
  grid-template-columns: 0.8fr;
  justify-content: center;
  row-gap: 15px;
  padding: 80px 0 100px 0;
}

.contact-form-text {
  border: none;
  height: 32px;
}

.contact-form textarea {
  height: 90px;
  border: none;
  background: #fbf8f7;
}

.submit-container {
  display: grid;
  justify-content: center;
}

.submit-container input {
  border: none;
}

.footer-links {
  border-top: 1px solid var(--grey-neutral);
  display: flex;
  justify-content: center;
}

.footer-icons {
  list-style: none;
}

.footer-icon-first-item {
  margin-left: -10%;
}

.footer-icon {
  display: inline;
  padding: 0 5px 0 5px;
}
